
{% extends 'base.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand font-weight-bold" href="#">FIRST PROJECT</a>

        <a class="nav-link text-white font-weight-bold text-decoration" href="{{path("app_login")}}">
            LOGIN
        </a>
        <a class="nav-link text-white font-weight-bold text-decoration" href="{{ path("registro") }}">
            REGISTRO
        </a>
    </nav>
{% endblock %}

{% block body %}

    <div class="container mt-5">
        {% for message in app.flashes('exito') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="mx-auto bg-info w-25 p-5">
            <form action="{{ path('registro') }}" method="post">
                {{ form_widget(form) }}
            </form>
        </div>
    </div>

{% endblock %}




