<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}"/>

        {% endblock %}
    </head>
    <body>

        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light bg-info w-100">
                <a class="navbar-brand font-weight-bold" href="#">FIRST PROJECT</a>

                <a class="nav-link text-white font-weight-bold text-decoration" href="{{ path("dashboard")}}">
                    HOME
                </a>
                <div class="nav-item float-right">
                    <label class="font-weight-bold pb-0">{{ app.user.username }}</label>
                    <a class="badge badge-dark d-block pt-0" href="{{ path("app_logout") }}">Logout</a>
                </div>
            </nav>

        {% endblock %}
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset("js/bootstrap.js") }}"/>
        {% endblock %}
    </body>
</html>
