{% extends 'base.html.twig' %}

{% block title %}Nuevo Post{% endblock %}

{% block body %}

    <div class="mx-auto bg-info w-25 p-5 mt-5">

        <h2 class="text-white">Post:</h2>

        {{ form_start(form) }}
                {{ form_row(form.titulo) }}
                {{ form_row(form.contenido) }}
                {{ form_row(form.fotoFile) }}
                {{ form_row(form._token) }}
            <br/>
            <button type="submit" class="btn btn-success">Guardar</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
