{% extends 'base.html.twig' %}

{% block title %}Nuevo Post{% endblock %}

{% block body %}
    <div class="mx-auto bg-info w-25 p-5">

        <h2 class="text-white">Nuevo Post:</h2>

        <form action="{{ path('post/editar',{id:post.id}) }}" method="post">
                {{ form_row(form.titulo) }}
                {{ form_row(form.contenido) }}
                {{ form_row(form.fotoFile) }}
                {{ form_row(form._token) }}
            <br/>
            <button type="submit" class="btn btn-success">Editar</button>
        </form>

    </div>
{% endblock %}
