{% extends 'base.html.twig' %}

{% block title %}Nuevo Post{% endblock %}

{% block body %}
    <div class="container bg-gradient-danger">
        <h1 class="d-inline">{{ post.titulo }}</h1>
        <span class="badge badge-danger">Likes: {{ post.userliked | length }}</span>
        <span>
            {% if post in app.user.postsliked %}
                <img height="50" onclick="dislike()" src="{{ asset("uploads/icons/corazon.png")}}"/>
                <small>¡Me Gusta!</small>
            {% else %}
                <img height="50" onclick="like()" src="{{ asset("uploads/icons/megusta.png")}}"/>
                <small>¡Dar Like!</small>
            {% endif %}
        </span>
        <div class="row">

            <div class="col">
                <img class="img-thumbnail" width="250" height="250" src="{{asset("uploads/fotos/"~post.foto) }}"/>
            </div>
            <div class="col">
                <label>Contenido:</label>
                <p>{{ post.contenido }}</p>
                <label class="font-weight-bold">Creador:</label>
                <span class="font-italic">{{ post.user.nombre }}</span>
                <small class="d-block">{{ post.fechapublicacion | date("d/m/y") }}</small>
            </div>

        </div>

        <div id="comentarios" class="mt-5 bg-light">
            <h3>COMENTARIOS:</h3>
            <div id="crear comentario">
                <form method="post" action="{{ path("com/comentar",{id:post.id}) }}">
                    <textarea class="w-100" name="mensaje" placeholder="Escribe aquí tu comentario..."></textarea>
                    <button class="btn btn-success" type="submit"> Envia </button>
                </form>
            </div>

            {% for comment in comentarios %}
            <div class="bg-secondary text-white mt-2 p-2 rounded">
                <div class="row">
                    <div class="col">
                    <label><b>Usuario:</b> {{ comment.user.nombre }}</label>
                    <p class="ml-5 font-italic">{{ comment.comentario }}</p>
                    <small>{{ comment.fechapublicacion | date("d/m/y H:i:s") }}</small>
                    </div>
                    <div class="col">
                    {% if comment.user == app.user %}
                        <a class="btn btn-danger float-right" href="{{ path('com/eliminar',{id:comment.id}) }}">Eliminar Comentario</a>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>

        function like()
        {
            window.location.href="{{ path("like/like",{id:post.id}) }}";
        }

        function dislike()
        {
            window.location.href="{{ path("like/dislike",{id:post.id}) }}"
        }


    </script>

{% endblock %}
