{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

    <h1 class="text-center">Bienvenido {{ user.nombre }}!</h1>
    <hr/>

    <div class="container">
    <div>
        {% for message in app.flashes('exito') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <h2 class="d-inline">LISTA DE POSTS</h2>
    <a class="btn btn-primary float-right" href={{ path("post/create") }}> Crear Post </a>

    <hr/>
    {% for post in posts %}
        <div class="bg-danger text-white p-5 border border-dark rounded-pill">
            <h1 class="d-inline">{{post.titulo}}</h1>
            <div class="row">
                <div class="col">
                    <img class="rounded-circle img-thumbnail" src="{{ asset("uploads/fotos/"~post.foto) }}"/>
                </div>

                <div class="col w-50">
                    <p>{{ post.contenido | length > 50 ? post.contenido|slice(0, 50) ~ '...' : post.contenido  }}</p>
                </div>

                <div class="col">
                    <label>Creador: {{ post.user.nombre }}</label>
                    <small class="d-block">Fecha Publicacion: {{ post.fechapublicacion | date("d/m/y") }}</small>
                </div>
                <div class="mx-2">
                    <a class="btn btn-primary" href="{{ path("post/ver",{id:post.id}) }}">Ver Post</a>
                </div>
                <div class="mx-2">
                    <a class="btn btn-success" href="{{ path("post/editar",{id:post.id}) }}">Editar Post</a>
                </div>
                <div class="mx-2">
                    <a class="btn btn-dark" href="{{ path("post/eliminar",{id:post.id}) }}">Eliminar Post</a>
                </div>
            </div>
        </div>
        <hr/>
    {% endfor %}
    </div>


{% endblock %}
